.Weather {
  border: 1px solid #dadde1;
  border-radius: 10px;
  color: #a29e9e;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Weather li {
  list-style: none;
}
.Weather .btn {
  padding: 6px;
  background-color: #e9c2d7;
  color: white;
}
h2 {
  padding-top: 10px;
  color: black;
  text-align: center;
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
#temperature {
  color: black;
  font-size: 60px;
}
.Weather .row {
  padding-top: 25px;
  text-align: center;
}
.Weather #descrip {
  text-align: left;
}
